@font-face {
    font-family: "Vollkorn";
    src: url(./fonts/vollkorn-regular-webfont.woff) format('woff');
}

@font-face {
    font-family: "Vollkorn Bold";
    src: url(./fonts/vollkorn-bold-webfont.woff) format('woff');
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Regular.woff2) format('woff2');
}